@import "bootstrap";


body { 
    font-size: 20pt; 
}
.pawn {

    width: 80%;
    height: 80%;
    border-radius: 35px;
    margin: 10%;
    cursor:move;
}
.red{

    background-color:#ffb366;
    opacity:0.6;
}

.black{

    background-color:black;
    opacity:0.6;
}

.king{

    border: 7px solid blue;
    width: 60%;
    height: 60%;
    border-radius: 24px;
    margin: 10%;
}

.square {

    width: 75px;
    height: 75px;
    border: 2px solid black;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    float:left;
    line-height: 140px;
    text-align: center;
    font-family: "Arial Narrow";
    font-weight: bold;
    font-size: 30px;
    background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
}

.square_highlight {
    
    width: 75px;
    height: 75px;
    border: 10px solid black;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    float:left;
    line-height: 140px;
    text-align: center;
    font-family: "Arial Narrow";
    font-weight: bold;
    font-size: 30px;
}

.bkimage {
     background-image: url("https://st2.depositphotos.com/2899505/7120/v/950/depositphotos_71202923-stock-illustration-wood-texture-web-page-background.jpg")
}

.bg {
    /* The image used */
    //"https://www.toptal.com/designers/subtlepatterns/patterns/regal.png"
    background-image: url("https://www.transparenttextures.com/patterns/flowers.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// Initial Idea obtained from 
// http://code2care.org/pages/chessboard-with-pieces-using-pure-html-and-css/

#checkerbgboard {

    height: 600px;
    width: 600px;
    margin: 0 auto;
}