<div class="row">
  <div class="col">
    <h1 id="index-page">Join a Game</h1>
   <form action="javascript:redirectUrl();">
     <input type="text" name="username" id ="username">
     <input type="submit" value="Submit">
     <script>
        function redirectUrl(){
            var user = document.getElementById('username').value;
            window.location.href = "/game/"+user
        }
     </script>
   </form>
  </div>
</div>



